img {
  display: none;
}

.clickable{
  cursor: pointer;
  color: #045000
}

.clickable:hover{
  text-decoration: line-through;
}

.black-background{
  background-color: #000;
  color: #FFF;
}
.white-background{
  background-color: #FFF;
}
